extends layout

block content
    h1 Update Book
    form(method='POST' action='')
        input(type='hidden' name='_method' value='PUT')
        div
            label Name:
            input(type='text', name='name')
        div
            label Type:
            input(type='text', name='type')
        div
            label Release Date:
            input(type='text', name='release_date')
        div
            label Author:
            input(type='text', name='author')
        div
            label Image:
            input(type='text', name='image')
        div
            label Description:
            input(type='text', name='desc')
        div
            label Rating:
            input(type='text', name='rating')
        div
            label Reviews:
            input(type='text', name='reviews')
        button(type='submit') Submit